{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
<form id="create-edit-form" class="contact-form main-fms" method="post" >
    {{ render_field(form.uname) }}
    {{ render_field(form.fname) }}
    {{ render_field(form.lname) }}
    {{ render_field(form.dep) }}
    {{ render_field(form.pos) }}
    {{ form.phones.label }}
    
    <a id="add-phone" href="#"><i class="fas fa-plus-square"></i>
    </a>
    {% for p in form.phones %}
    <div class="phone-item">
        {{ render_field(p.form.num, class="phone-num") }}
            <a class="rem-phone" href="#">
                <i class="far fa-trash-alt"></i>
            </a>
        </div>
    {% endfor%}
    {{ form.csrf_token }}
    {{ form.submit }}
    
</form>
{% endblock %}