{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<form id="create-edit-form" class="contact-form main-fms" method="post" >
    {{ form.uname.label }}
    {{ form.uname }}
    {{ form.fname.label }}
    {{ form.fname }}
    {{ form.lname.label }}
    {{ form.lname }}
    {{ form.dep.label }}
    {{ form.dep }}
    {{ form.pos.label }}
    {{ form.pos }}
    {{ form.phones.label }}
    
    <a id="add-phone" href="#"><i class="fas fa-plus-square"></i>
    </a>
    {% for p in form.phones %}
    <div class="phone-item">
        {{ p.form.num.label }}
        <a class="rem-phone" href="#">
            <i class="far fa-trash-alt"></i>
        </a>
            {{ p.form.num(class_="phone-num") }}
        </div>
    {% endfor%}
    {{ form.csrf_token }}
    {{ form.submit }}
    
</form>
{% endblock %}