{% extends 'base.html'%}

<h1>{% block title %}phone-list{% endblock %}</h1>

{% block content %}
<a class="create-entry" href="{{ url_for('pbook.create') }}">create</a>
<table class="phones-table">
    <thead>
    {% if pbook_list %}
        <th>user</th>
        <th>department</th>
        <th>position</th>
        <th>phones</th>
    {% endif%}
    </thead>
    <tbody>
    {% for item in pbook_list %}
    <tr>
        <td>{{ item['lname'] }} {{ item['uname'] }} {{ item['fname'] }}</td>
        <td>{{ item['dep'] }}</td>
        <td>{{ item['pos'] }}</td>
        <td>{{ item['phones'] }}</td>
        <td><a href="{{ url_for('pbook.edit', id=item['id']) }}">edit</a></td>
        <td>
            <form action="{{ url_for('pbook.delete', id=item['id']) }}" method="post">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock%}