{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
<a class="create-entry" href="{{ url_for('admin.user_create') }}">
    <i class="create-btn fas fa-plus-square"></i>
</a>
{% if users %}
<div class="pagination">
    <ul class="pagination__list">
    {% if users.has_prev %}
    <li><a href="{{ url_for('admin.users', page=users.prev_num) }}">
        <i class="pagination-arrow fas fa-angle-double-left"></i>
    </a></li>
    {% else %}
    <li><a href=""><i class="pagination-arrow fas fa-angle-double-left"></i>
    </a></li>
    {% endif %}
    <!-- All page num -->
    {% for u in users.iter_pages() %}
        {% if u is none %}
        <li>
            <span class="pagination-ellipsis">…</span>
        </li>
        {% elif p == users.page %}
        <li class="active"><a href="#">{{ p }}</a></li>
        {% else %}
        <li><a href="{{ url_for('admin.users', page=u) }}">{{ u }}</a></li>
        {% endif %}
    {% endfor %}

    {% if users.has_next %}
    <li><a href="{{ url_for('admin.users', page=users.next_num) }}">
        <i class="pagination-arrow fas fa-angle-double-right"></i>
    </a></li>
    {% else %}
    <li><a href=""><i class="pagination-arrow fas fa-angle-double-right"></i>
    </a></li>
    {% endif %}

</ul>
</div>


<table class="tbl users-table">
    <thead>
        <th>email</th>
        <th>role</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for item in users.items %}
        <tr>
            <td>{{ item.email }}</td>
            <td>{{ item.role }}</td>
            <td><a href="{{ url_for('admin.user_edit', id=item.id) }}">
                <i class="far fa-edit"></i></a>
            </a></td>
            <td>
                <form action="{{ url_for('admin.user_delete', id=item.id) }}" method="post">
                    <button class="delete-btn" type="submit">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}