<!doctype html>
<title {%block title %}{% endblock %}-flphone></title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<nav class="main-nav">
    <h1>Flphone</h1>
    <ul class="nav__list">
        {% if current_user.is_authenticated %}
        <li>{{ current_user.email }}</li>
         <li><a href="{{ url_for('auth.logout') }}">loogout</a></li>
         {% else %}
         <li><a href="{{ url_for('auth.register') }}">register</a></li>
         <li><a href="{{ url_for('auth.login') }}">login</a></li>
        {% endif %}

    </ul>
</nav>
<section class="content">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>